body {
    display: flex;
}

nav {
    width: 20%;
    /* makes div height 100% of the viewport */
    height: 100vh;
    background: rgb(20, 21, 28);
    color: rgb(140,140,140);
    transition: all .2s linear;
    position: relative;
}

nav h2, nav.fa-window-close {
    display: inline-block;
}

nav h2 {
    margin-top: 5px;
    margin-left: 75px;
}

.nav-text.hidden {
    position: absolute;
    left: -1000px;
}

nav .fa-window-close {
    color: blue;
    float: right;
    margin-right: 5px;
}

nav .fa-window-close:hover {
    color: red;
}

nav ul {
    margin-top: 100px;
}

nav ul li {
    list-style: none;
    margin-top: 45px;
}

nav ul li:hover {
    color: white;
}

nav .copyright {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}

nav.hidden {
    width: 7.5%;
}

main {
    /* takes up rest of container */
    flex: auto;
    text-align: center;
}

.fa-bars {
    position: absolute;
    left: -1000px;
}

.fa-bars.active {
    position: static;
    left: 0px;
    color: blue;
    float: right;
    margin-right: 40px;
    margin-top: 75px;
}